<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <!--jquery-->
    <script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <!--bootstrap-->
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}">
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
    <!--jquery-validate-->
    <script type="text/javascript" th:src="@{/webjars/jquery-validation/1.19.0/jquery.validate.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/jquery-validation/1.19.0/localization/messages_zh.min.js}"></script>
    <!--layer-->
    <script type="text/javascript" th:src="@{/layer/layer.js}"></script>
    <!--MD5-->
    <script type="text/javascript" th:src="@{/js/md5.min.js}"></script>
    <!--common-->
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
</head>
<body>
<form name="loginForm" id="loginForm" method="post" style="width: 50%;margin: 0 auto">
    <h2 style="text-align: center;margin-bottom: 20px;">用户登录</h2>
    <div class="from-group">
        <div class="row">
            <label class="form-label col-md-4">请输入手机号码</label>
            <div class="col-md-5">
                <input id="mobile" name="mobile" class="form-control" type="text" placeholder="手机号码" required="true" minlength="11" maxlength="11">
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>

    <div class="from-group">
        <div class="row">
            <label class="form-label col-md-4">请输入密码</label>
            <div class="col-md-5">
                <input id="password" name="password" class="form-control" type="password" placeholder="密码" required="true" minlength="6" maxlength="16">
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            <button class="btn btn-primary btn-block" type="reset" onclick="reset()">重置</button>
        </div>

        <div class="col-md-5">
            <button class="btn btn-primary btn-block" type="submit">登录</button>
        </div>
    </div>
</form>
</body>
<script>
    $("#loginForm").validate({
        submitHandler:function(form){
            doLogin();
        }
    });
    function doLogin() {
        g_showLoading();

        /*获取明文密码*/
        var inputPass = $("#password").val();
        var salt = g_password_salt;
        var str = "" + salt.charAt(0)+salt.charAt(2)+inputPass+salt.charAt(5)+salt.charAt(4);
        var password = md5(str);

        $.ajax({
            url: "/system/login/do_login",
            type: 'POST',
            data:{
                mobile:$("#mobile").val(),
                password:password
            },
            success:function (data) {
                layer.closeAll();
                if (data.code == 0){
                    layer.msg("登录成功");
                    window.location.href="/system/goods/to_list";
                }else{
                    layer.msg(data.msg);
                }
            },
            error:function () {
                layer.closeAll();
            }
        });
    }
</script>
</html>